/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a                   
Dark green: #28b485

*/

*{
    margin : 0;
    padding: 0;
    box-sizing: border-box;  
}

body{
 font-family: "Lato" , sans-serif;
 font-weight: 400;
 font-size: 16px;
 line-height: 1.7;
 color: #777;
 padding: 30px; 
}

.header {
    height: 95vh;
background-image: linear-gradient(to right bottom ,rgba(126, 213, 111, 0.8) , rgba(40, 180, 133, 0.8)) ,url(../img/hero.jpg);
background-size: cover; /* que se amolde la imagen al espacio pero nunca se distorsione*/
background-position: top;  /* es el punto fijo donde vas a ver siempre la foto auque se almodee el tamaño */
clip-path: polygon(0 0,100% 0, 100% 75vh , 0 100%);
position: relative;
}

.logo-box{
    position: absolute;
    top: 40px ;
    left: 40px;
    

}

.logo{
 height: 35px;
 
}

.text-box{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%); /*esta etiqueta desplaza 50% de la palabra hacia izquierda y arriba sobre si mismo y NO sobre el padre*/
    text-align: center;
}

.heading-primary{
    text-transform: uppercase;
    color: #FFF;
    margin-bottom: 60px;
}
.heading-primary-main{
    display: block;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 5s;
    animation-timing-function: ease-in;
}
.heading-primary-sub{
    display: block;
    font-size: 20px;
    letter-spacing: 17.378px;
    animation-name: moveInRight;
    animation-duration: 4s;
    animation-timing-function: ease-in;
}

@keyframes moveInLeft {
    0%{
        opacity: 0%;
        color: rgb(5, 70, 5);
        transform: translateX(-100%);
    }

    80%{
        
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }

}


@keyframes moveInRight {
    0%{
        opacity: 0%;
        transform: translateX(100%);
        color: black;
    }

    50%{
        
        
        transform: translateX(-50px);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
        color: white;
    }

}

@keyframes moveFloorTop {
    0%{
        opacity: 0%;
        color: rgb(5, 70, 5);
        transform: translateX(-100%);
    }

    80%{
        
        transform: translateX(20px);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }

}

.btn:link,
.btn:visited{
text-transform: uppercase;
text-decoration: none;
padding: 15px 40px;
display: inline-block;
transition: all .2s;

}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 5px -5px black;
    color: black;
    background-image: linear-gradient(to right bottom ,rgba(255, 255, 255, 0.8) , rgba(95, 95, 95, 0.8)) 
}
.btn:active{
    transform: translateY(-1px);

}

.btn-white{
    background-color: #fff;
    color: #777;
    border-radius: 100px;
    
}


























